<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earmerce</title>
</head>

<body>
    <div class="">
        <div class="aHl"></div>
        <div id=":oa" tabindex="-1"></div>
        <div id=":p0" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
            <div id=":oz" class="a3s aiL msg8342396352826543876">
                <div class="adM">
                </div>
                <div style="background-color:#f2f2f2">
                    <div class="adM">
                    </div>
                    <table align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="m_8342396352826543876notification"
                                        style="font-family:Amazon Ember;background-color:#ffffff;width:360px">
                                        <table id="m_8342396352826543876notificationTable" width="100%" cellspacing="0"
                                            cellpadding="0" style="border-top:5px solid #f8981d">
                                            <tbody>
                                                <tr>
                                                    <td id="m_8342396352826543876gapRow1" style="height:25px"></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px 17px 0px 17px">
                                                        <div id="m_8342396352826543876aPayLogo"><a
                                                                href="#"
                                                                target="_blank"
                                                                
                                                                <img src={{logo}}> </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:20px"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="m_8342396352826543876content"
                                                            style="margin:0px 17px 0px 17px">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <p style="font-size:16px">Dear {{customerName}}</p>
                                                                        
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="height:10px"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p
                                                                            style="margin:0;font-size:16px;line-height:23px">
                                                                            This is a confirmation email
                                                                            for your recent order placed  <b>
                                                                                </b> through <span
                                                                                class="il">Earmerce</span> .
                                                                            Please find below, the details of the order.
                                                                            </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="height:10px"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p class="m_8342396352826543876heading"><Strong>Order
                                                                            Details</Strong></p>
                                                                    </td>
                                                                </tr>
                                                               
                                                                <tr>
                                                                    <td>
                                                                        <table bgcolor="#fff" border="0" cellpadding="0"
                                                                            cellspacing="0" width="100%"
                                                                            style="max-width:700px">
                                                                            <colgroup>
                                                                                <col width="30%">
                                                                                <col width="70%">
                                                                            </colgroup>
                                                                            <tbody>
                                                                                
                                                                                <tr>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876gray-text">
                                                                                        Order ID</td>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876bold">
                                                                                        <b><a style="color:#229bbc;text-decoration:none"
                                                                                                href="#"
                                
                                                                                                >{{orderId}}</a></b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height:10px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876gray-text">
                                                                                        Placed On</td>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876bold">
                                                                                        <b>{{orderDate}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height:10px"></td>
                                                                                </tr>

                                                                                 <tr>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876gray-text">
                                                                                        Paid Amount</td>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876bold">
                                                                                        <b>$ {{total}}</b>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height:10px"></td>
                                                                                </tr>
                                                                                
                                                                                <tr>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876gray-text">
                                                                                        Sold by</td>
                                                                                    <td
                                                                                        class="m_8342396352826543876small-text m_8342396352826543876bold">
                                                                                        <b>Earmerce.in</b></td>
                                                                                </tr>
                                                                                
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="center" bgcolor="#ffffff"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" bgcolor="#ffffff"> To help us make
                                                                        your
                                                                        experience even better, we request you to
                                                                        complete
                                                                        this short <a
                                                                            href="#"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Fwww.amazon.in%252Fforms%252F2a901a92-1f5d-46c9-ac57-56fb9142bb61/1/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/ZfvOhu6NFS0KYvfPeXProv1nuzk%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw0aZubyvb_tGhKhK1dA9ylz">survey</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="m_8342396352826543876gapRow11" style="height:13px"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="m_8342396352826543876haloWidget" width="326px"
                                                            cellspacing="0" cellpadding="0"
                                                            style="border:2px solid #f0f0f0;border-radius:5px 5px 5px 5px;margin:0px 17px 0px 17px;height:71px">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="vertical-align:middle"><a
                                                                            href="#"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Fwww.amazon.in%252Fhfc%252FmobileRecharge/1/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/g9wCCoqiuHn3mFUSebKk1lVvO3o%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw2svEVdYhhkSQzaKc4TOpfK">
                                                                            <img src="https://ci3.googleusercontent.com/proxy/ATK6k2KPBNTct_OHPgnl4EUEE0HfzPjAGRUwuWuhDeACcX2_ya4_D7Nf0eky_RCsOne12uqbFyrZYYGGmpBofSZISAj5qG1ZdJuLrFDPDJE-atNofQatRbMld2C_525T=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/125X100-Recharge.jpg"
                                                                                height="51px" class="CToWUd">
                                                                        </a></td>
                                                                    <td style="vertical-align:middle"><a
                                                                            href="#"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Fwww.amazon.in%252Fhfc%252Fdth/1/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/fL8VQ8jV_ptSgyfd1h0qg5qIHR8%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw3uqFx0XxPPFHX5OPgIjok2">
                                                                            <img src="https://ci4.googleusercontent.com/proxy/NxqObaXTZcWTbY290dg9CFc4nMPPhUPbBZvlW3xjas0lIcMo-TuyBchdngemIphfJaehSlwVW9fgQs6kYcATaSgPVu5uXcxkthLf3lPI0nT09VhEptCkvh0t-w=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/125X100_DTH.jpg"
                                                                                height="51px" class="CToWUd">
                                                                        </a></td>
                                                                    <td style="vertical-align:middle"><a
                                                                            href="#"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Fwww.amazon.in%252Fb%253Fnode%3D15246428031/1/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/lMLCVtvKTiZYSYcIf06bLT0wO4Y%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw38RrYkbph-ul4uuYr8homC">
                                                                            <img src="https://ci3.googleusercontent.com/proxy/eaWdh_PUiFiqFa6pOrtIIR_T9qNa4TW3uUhTkiXccT5-wzgXeGEGyjXnSHpCJ6w0-KvD8Grs6WxdslYu1PRZ7mUkDsGBGuALxvyxQTnsAc9HiWvARbdqJgKzkXYQTTCl=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/125X100_PayBills.jpg"
                                                                                height="51px" class="CToWUd">
                                                                        </a></td>
                                                                    <td style="vertical-align:middle"><a
                                                                            href="#">
                                                                            <img src="https://ci3.googleusercontent.com/proxy/ndmDR0C1dF_qkIfnljghdqgnh-zsQLr836g3P-nVMMTzyp07ZyhErTvQSV8vjSftgOiUttgUQLDmuFQYAlTNw7x0YugVTIK9PUyFC2FmnEJ-5WtWN0NFbjwd8Z3ELn8=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/125X100_Rewards.jpg"
                                                                                height="51px" class="CToWUd">
                                                                        </a></td>
                                                                    <td style="vertical-align:middle"><a
                                                                            href="#"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Fwww.amazon.in%252Famazonpay%252Fhome/2/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/YMDxymEBLQ2mjWCkV9wwQHZTgWs%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw3OfQc427cBEVlCXKNMfpZx">
                                                                            <img src="https://ci4.googleusercontent.com/proxy/3LIpTom3FU1KhtiN-KxzTxnVO0RpeE_-XLFLWurmLHysy362nFeV-vsOWPFlDO0nmuM1wAN0qKI2GzhQJGu7YmWi00anflJZSLwqvZXoTU5MlZlSEPzGyzwQBPc=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/125X100_More.jpg"
                                                                                height="51px" class="CToWUd">
                                                                        </a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td id="m_8342396352826543876gapRow12" style="height:13px"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="m_8342396352826543876trustedAndSecurePayments"
                                                            width="326px" cellspacing="0" cellpadding="0" border="0"
                                                            style="margin:0px 17px 0px 17px">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="background-color:#f2f2f2;vertical-align:middle;text-align:center;height:44px;border-radius:5px 5px 5px 5px">
                                                                        <img src="https://ci6.googleusercontent.com/proxy/ShbzAwVE18RHro4UW8VVH5cwMNtNTyD82C4pqhtg6134FW4fa9xg52tpobdGzZWAc4WUOBFrlo-O8tw00vztCUDyibkwwApRDWaj4x3qQQlpOqy1_NMHsvfaW5bNl6uCuYRtjV2L13DkoUbs=s0-d-e1-ft#https://m.media-amazon.com/images/G/31/AP4/Notifications/TrustedAndSecurePaymentsIcon.png"
                                                                            height="30px"
                                                                            style="display:inline-block;vertical-align:middle;padding-bottom:3px"
                                                                            class="CToWUd">
                                                                        <font
                                                                            id="m_8342396352826543876trustedAndSecurePaymentsText">
                                                                            Trusted &amp; secure payments</font>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:13px"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="m_8342396352826543876contactUs" bgcolor="#f9f9f9"
                                                            style="margin:0px 17px 0px 17px" align="center"
                                                            width="326px" border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>

                                                                    <td style="text-align:center;padding:30px 10%">
                                                                        <p style="margin:0px;font-size:13px;color:#333">
                                                                            At
                                                                            <span class="il">Amazon.in</span> , we care!
                                                                        </p>
                                                                        <p style="margin:0px;font-size:13px;color:#333">
                                                                            Our
                                                                            team is available to
                                                                            answer any queries.</p>
                                                                        <p style="margin:0px;font-size:13px;color:#333">
                                                                            Reach out to us through
                                                                            <a style="color:#229bbc;font-weight:300;text-decoration:none"
                                                                                href="#"
                                                                                target="_blank"
                                                                                data-saferedirecturl="https://www.google.com/url?q=https://nll1bq56.r.ap-south-1.awstrack.me/L0/https:%252F%252Famazonpay.amazon.in%252Fjr%252Fyour-account%252Fcontact_us%252FP04-9041437-0982326/1/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/JSK71eaimzS4NnBRMHU3j2eVRIs%3D53&amp;source=gmail&amp;ust=1656434694715000&amp;usg=AOvVaw1cxRLswoVxItvQsK6_WrhO"><span
                                                                                    class="il">Amazon.in</span>
                                                                                Customer Support
                                                                            </a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="m_8342396352826543876disclaimerTable" width="326px"
                                                            cellspacing="0" cellpadding="0" border="0"
                                                            style="margin:0px 17px 0px 17px">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="height:15px"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="m_8342396352826543876disclaimerText"
                                                                        style="font-size:11px;line-height:20px;color:rgba(0,0,0,0.5)">
                                                                        This email was sent from an email address that
                                                                        can't
                                                                        receive emails. Please
                                                                        don't reply to this email.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="height:15px"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <img alt=""
                        src="https://ci5.googleusercontent.com/proxy/6tV0TXrYGDVDtZC9pDTfKVsEnir3NHHcuSvSSd0S_A2oqAd3rsYsbdcQeaNkGm-ScEjPFD0Vl_CL45HW6MREQGJMxtobfZ7_Yh-pvYGx_2ialbsaVzTNz0VZFqBnoyHFwoEbWdluuSD6e01Bmxx1Bn-PNxWdPXnZ4nP4CL_fjR_2k35gbpfz9X_4R53eYcXv-U--LBlHm_bOt6Q=s0-d-e1-ft#http://nll1bq56.r.ap-south-1.awstrack.me/I0/010901812e444f78-edb0571e-b4c0-41f7-9fcf-ef0e1f63b606-000000/FxMiy-HVac1mSwPKjZ2o_2hPaw4=53"
                        style="display:none;width:1px;height:1px" class="CToWUd">
                    <div class="yj6qo"></div>
                    <div class="adL">
                    </div>
                </div>
                <div class="adL">


                </div>
            </div>
        </div>
        <div id=":oe" class="ii gt" style="display:none">
            <div id=":of" class="a3s aiL "></div>
        </div>
        <div class="hi"></div>
    </div>
</body>

</html>